$color--primary: #6baddf;
$color--secondary: #01193f;
$color--tertiary: #d39a45;

.form {
  margin: 0 auto;
  width: 100%;
  padding: 4rem;
  background: $color--secondary;
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.5);

  h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #fff;
    text-align: center;
  }

  &__input {
    position: relative;

    label {
      position: absolute;
      top: 0;
      left: 0;
      padding: 1rem 0;
      font-size: 1.5rem;
      color: #fff;
      letter-spacing: 0.1rem;
      pointer-events: none;
      transition: 0.2s;
      text-transform: uppercase;
    }

    input {
      width: 100%;
      padding: 1rem 0;
      font-size: 1.6rem;
      color: #fff;
      letter-spacing: 0.1rem;
      margin-bottom: 3rem;
      border-bottom: 0.1rem solid $color--tertiary;
      outline: none;
      background: transparent;

      &:focus {
        border-bottom: 0.1rem solid $color--primary;
      }

      &:focus ~ label {
        top: -2rem;
        left: 0;
        color: $color--primary;
        font-size: 1.45rem;
      }

      &:valid ~ label {
        top: -2rem;
        left: 0;
        color: #13b1fa;
        font-size: 1.45rem;
      }
    }

    &__agreement {
      width: 100%;
      font-size: 1.6rem;
      color: #fff;
      letter-spacing: 0.1rem;
      outline: none;
      background: transparent;
      text-align: center;

      label {
        padding: 1rem 1rem;
        font-size: 1.5rem;
        color: #fff;
        letter-spacing: 0.1rem;

        span {
          color: #fff;
          text-decoration: none;
          position: relative;
          border-bottom: 1px solid $color--tertiary;
          padding-bottom: 2px;
          cursor: pointer;
        }
      }
    }

    span {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translateX(-50%);
      color: #ff4949;
      font-size: 1.15rem;
      width: 100%;
    }
  }

  .mt-20 {
    margin-top: 2rem;
  }

  input:invalid {
    box-shadow: none;
  }

  input[type="submit"] {
    margin-top: 3rem;
    background: transparent;
    border: none;
    outline: none;
    font-size: 3rem;
    color: #fff;
    background: $color--tertiary;
    padding: 1rem 2rem;
    cursor: pointer;
    border-radius: 0.5rem;
    width: 100%;

    &::-moz-focus-inner {
      border: 0;
    }
  }
  .registered {
    text-align: center;
    margin-top: 2rem;

    a {
      font-size: 1.5rem;
      color: $color--primary;
      text-decoration: none;
      border-bottom: 1px solid $color--tertiary;
      padding-bottom: 2px;
    }
  }
}

@media only screen and (min-width: 680px) {
  .form {
    margin: calc((100vh - 70vh) / 6) auto;
    width: 60%;
    border-radius: 1rem;
  }
}

@media only screen and (min-width: 1200px) {
  .form {
    margin: calc((93vh - 70vh) / 2) auto;
    width: 50%;
  }
}

@media only screen and (min-width: 1600px) {
  .form {
    margin: calc((93vh - 70vh) / 2) auto;
    width: 35%;
  }
}
