* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  background: #1488cc;
  background: -webkit-linear-gradient(to left, #2b32b2, #1488cc);
  background: linear-gradient(to left, #2b32b2, #1488cc);
}
